body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

body h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  #map {
    height: 750px;
    width: 100%;
    margin: 20px 0;
  }

  .tooltip {
    background-color: rgb(255, 215, 215);
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }

  .heart-marker {
    font-size: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: auto;
  }

/* Tool tip styling */
/*  popup container */
.mapboxgl-popup {
    max-width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* inner content box */
  .mapboxgl-popup-content {
    background-color: #fe7070;
    border-radius: 8px;
    padding: 10px 15px;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.4;
  }
  
  /* a little arrow styling */
  .mapboxgl-popup-tip {
    border-top-color: #f5f5f5 !important;
  }
  
  /* make text bold and prettier */
  .mapboxgl-popup-content strong {
    display: block;
    color: #45110c;
    font-size: 15px;
    margin-bottom: 5px;
  }